<div class="panel-body">

	<label>Number of Sales:</label> <%= sales_count_today(:store) %>
	<br/>
	<label>Revenue:</label> <%= number_to_currency sales_today(:store) %>
	<br/>
	<label>Cost:</label> <%= number_to_currency sales_cost_today(:store) %>
	<br/>
	<label>Profit:</label> <%= number_to_currency sales_profit_today(:store) %>

</div>